.Location_Popup_Layer .Location_Popup_Header .Location_Popup_Title {
    font-size: 1.375rem;
    font-weight: 500;
    letter-spacing: -0.0688rem;
}

.Location_Popup_Layer .Location_District_Header .District_Header_Title {
    width: 162px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 42px;
    padding-left: 21px;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: -0.0469rem;
    color: rgb(32, 32, 32);
}

.Location_Popup_Layer .Location_District_Header {
    display: flex;
    width: 100%;
    height: 45px;
    background-color: rgb(255, 255, 255);
    border-width: 2px 1px 1px;
    border-style: solid;
    border-color: rgb(0, 82, 116) rgb(234, 234, 234) rgb(234, 234, 234);
    border-image: initial;
}

.Location_Popup_Layer .Location_Popup_Header {
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 32px;
}

.Location_Popup_Layer .Location_Popup_Header .Location_Popup_Close {
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 28px;
    height: 28px;
}

.Location_Popup_Layer .Location_Popup_Box {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    width: 604px;
    height: 90vh;
    max-height: 843px;
    padding-top: 25px;
    padding-right: 29px;
    padding-bottom: 25px;
    padding-left: 29px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    box-shadow: rgba(54, 54, 54, 0.5) 0px 3px 8px 0px;
    background-color: rgb(255, 255, 255);
}

.Location_Popup_Layer .District_Item_Button {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 6px 12px 7px 14px;
    font-size: 0.9375rem;
    letter-spacing: -0.0469rem;
    color: rgb(32, 32, 32);
}

.Location_Popup_Layer .District_Item {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 5px 7px;
}

.Location_Popup_Layer .now {
    font-weight: 500;
    /* background-color: rgb(12, 75, 117) !important; */
    color: rgb(0, 0, 0) !important;
}

.Location_Popup_Layer .Location_Popup_User_Confirm {
    display: flex;
    gap: 12px;
    padding-top: 21px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    border-top: 2px solid rgb(234, 234, 234);
}

.Location_Popup_Layer .Location_Popup_User_Confirm .Location_Popup_Cancel {
    border: 1px solid rgb(196, 196, 196);
}

.Location_Popup_Layer .Location_Popup_User_Confirm button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 42px;
    transition: all 0.3s ease-in-out 0s;
    border-radius: 6px;
    border: 1px solid rgb(25, 183, 194);
    /* color: rgb(25, 183, 194); */
}

.Location_Popup_Submit {
    color: rgb(25, 183, 194);
}

.Location_Popup_Cancel {
    color: rgb(196, 196, 196);
}


.Location_Popup_Layer .Location_Popup_User_Confirm .Location_Popup_Cancel:hover {
    background-color: rgb(196, 196, 196);
    color: white;
}

.Location_Popup_Layer .Location_Popup_User_Confirm button:hover {
    background-color: rgb(25, 183, 194);
    color: white;
}

.Location_Popup_Box {
    max-height: 200px;
    overflow-y: auto;
}
.Location_Popup_Layer {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 9999;
}

::-webkit-scrollbar {
    width: 0px;
}

* {
    font-style: normal;
    box-sizing: border-box;
    letter-spacing: -.0437rem;
    outline: none;
}

div.Location_Selection_Popup_Wrap {
    pointer-events: initial;
}

.Location_Popup_Layer .Location_Selection_Popup_Wrap {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

button {
    appearance: auto;
    word-spacing: normal;
    line-height: normal;
    text-rendering: auto;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    writing-mode: horizontal-tb !important;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    margin: 0;
    padding: 0;
    margin-top: 24px;
    padding-bottom: 5px;
    font-size:15.5px
}

li.District_Item {
    list-style: none;
    list-style-type: none;
}


li {
    text-align: -webkit-match-parent;
    margin: 0;
}

li,
ol,
ul {
    list-style: none;
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

button:hover{
    background-color: rgb(12, 75, 117);
}

:not(.Search_Modal_ScrollWrap)::-webkit-scrollbar {
    display: none;
}

.Location_Popup_Layer .District_List {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
    border-right: 1px solid rgb(234, 234, 234);
    padding-left: 0;
    margin-top: 0;
}

.Location_Popup_Layer .District_List:first-child {
    width: 170px;
    
}

.Location_Popup_Layer .District_List:last-child {
    width: 280px;
    padding-left: 0;

}

.Location_Popup_Layer .District_List_Box {
    display: flex;
    width: 100%;
    overflow-y: hidden;
    border-left: 1px solid rgb(234, 234, 234);
    border-right: 1px solid rgb(234, 234, 234);
    border-bottom: 1px solid rgb(234, 234, 234);
}

.Location_Popup_Layer .District_List {
    width: 230px;
}

div {
    margin: 0;
    padding: 0;
}