#input1{
    font-size: 50px;
    height: 100px;
}

body {
    text-align: center;
}
h1 {
    border: 5px solid black;
    width: 12%;
    height: 50px;
    margin: 30px auto;
    /* margin: 10px; 상하좌우 전체 10px */
    /* margin: 30px auto; 상하 좌우 */
    /* margin: [margin-top] [margin-right] [margin-bottom] [margin-left] */
    /* margin: top (left=right) bottom; */
}
ul {
    list-style: none;
    width: 30%;
    margin: 10px auto;
}
li {
    display: inline;
    margin: 0px 10px;
}
img {
    margin-top: 30px;
    width: 50%;
}
/* .curr_view {
    font-weight: bold;
} */